li {
    list-style: none;
}
button {
    
}
body {
    margin: 0;
    padding: 0;
    transition: all 2s;
}
header {
    display: flex;
    flex-flow: row;
}
.menu{
    width: 70%;
  height: 100vh;
  background: rgba(0,0,0,0.85);
  color: #fff;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2em 1em;
  transform: translateX(-100%);
  transition: all 0.2s;
    
}